#perguntas{
    text-align: left !important;
    color: #64C1C7;
}
#dropdown_state{
    width: 1200px;
}
/* .btn-default > #dropdown{
    color: black;
    background-color: #ECF0F5;
    border-color: #D1C2C6;
} */

.nav-tabs{
    border-bottom: 3px solid #64C1C7;
}

.tabbable ul li a{
    background-color: #FFFFFF;
    color: #64C1C7;
}
.nav-tabs>li.active>a{
    background-color: #64C1C7 !important;
    color: white !important;
}

/* #att_grap_filtros_perg{
    right:0% !important;
    top: 80px !important;
} */

#att_grap_filtros_perg{
    position: absolute;
    right:1%;
    top: 80px;
    background-color: #64C1C7;
    color: #660909;
    color: white;
}
#att_tab_filtros_perg{
    position: absolute;
    right:1%;
    top: 80px;
    background-color: #660909;
    color: white;
}

.background-table{
    background-color: white;
    margin-top: 10px;
}
#sel_perg{
    background-color: #660909;
    color: white;
    margin-left: 10px;
}
.sel_estrategia{
    float: right;
    color: #660909;
}
.awesome-radio{
    padding-right: 10px;
    padding-left: 10px;
}

.dataTables_wrapper{
    padding-right: 10px;
    padding-left: 10px;
}