.container-fluid{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.navbar-header{
  width:40%;
  text-align: center;
}
.navbar-brand {
  position: relative;
  left: 10%;
  text-align: center;
}
#navbar{
  width: 60%;
}
#navbar li{
  width: 50%;
}
.sidebar-menu{
  width: 20%;
  padding-inline-start: 10px;
}
.logo img{
  margin-top:-1%;
}